
#rootDiv {
   background: url(/content/i/products/freestyle/bg_1.jpg) no-repeat center center fixed; 
  
}

#moreapps {
  position:absolute;
  top:410px;
  left:53px;  
}

#moreapps p {
	font: Helvetica;
	font-family:Helvetica, Arial, sans-serif;
	font-weight:bold;
}

#sec1 #shell #blurb {
  padding-top:130px;
  color:#fff;
  font-size:18px;
  margin-left:52px;
  width:500px;
  line-height:42px;
}
 
#blurb h1 {
  color:#fff;
  text-shadow: 2px 2px 2px #000000;
  
}



#blurb p {
	margin-bottom:10px;
	width:380px;
	font-size:20px;
	line-height:27px;
	font-weight:500;
}

.quotes {
	font-style:italic;
	color:#fff;
	font-size:1.1em;	
	font-weight:bold;
}

.source {
	font-size:.7em;	
	color:#fff;
}

#sec1 #shell {
 
/* IE9 SVG, needs conditional override of 'filter' to 'none' */

  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/content/i/products/freestyle/bg_1.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/content/i/products/freestyle/bg_1.jpg', sizingMethod='scale')";
  
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(/content/i/products/freestyle/bg_1.jpg) no-repeat center center;


}

h1 {
	font:Helvetica;
	font-family:Helvetica, Arial, sans-serif;
	color:#6063ce;
	font-weight:400;
	font-size:45px;
	margin-bottom:20px;
}

.pingerwinkle {
	color:#6063ce;
	
}


#sec2 {
 
	height:686px;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */

  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/content/i/products/freestyle/bg_2.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/content/i/products/freestyle/bg_2.jpg', sizingMethod='scale')";
  
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(/content/i/products/freestyle/bg_2.jpg) no-repeat center;
  
  background-position: 0 200px;



  
}

#sec2 p {
	width:583px;
}


#sec2 div {
	padding-top:0px;
	
}

#sec3 {
 

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/content/i/products/freestyle/bg_3.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/content/i/products/freestyle/bg_3.jpg', sizingMethod='scale')";
  
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(/content/i/products/freestyle/bg_3.jpg) no-repeat center center;

  
}

#sec3 h1 {
	font-size:35px;
	padding-top:100px;
	
}

#sec3 p {
  padding-top:0px;
 
  color:#fff;
  text-shadow: 2px 2px 2px #000000;
  line-height:30px;
  width:500px;
}

#sec3 h1 {
	  text-shadow: 2px 2px 2px #000000;
}



#sec4 {
	height:648px;
	 padding-top:0px;
 /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/content/i/products/freestyle/bg_4.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/content/i/products/freestyle/bg_4.jpg', sizingMethod='scale')";
  
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(/content/i/products/freestyle/bg_4.jpg) no-repeat center bottom;
}


#sec4 p {
	width:570px;
	line-height:23px;
}



#sec4 div {
	padding-top:30px;
	 line-height:30px;
	
}

#footer {
  top:2570px;
  
  
}


.btn_get_app {
  background-position: 0 -793px;
  width: 71px;
  height: 90px;
}


.more {
  background-position: 0 -941px;
  width: 1000px;
  height: 67px;
}

.more_shadow {
  background-position: 0 -882px;
}

.more_shadow_white {
  background-position: 0 -1008px;
}


.btn_download {
  background-position: 0 -767px;
  width: 131px;
  height: 26px;
  
}

#logo {
  background-position: 0 -1488px;
  width: 137px;
  height: 105px;
  margin-left:-5px;
}

#gifchat {
 width:180px;
  padding-left:63px;
}

#moreapps div#gifchat {
  background-position: 0 -1206px;
  width: 140px;
}

.downloadlinks
{
  height:130px;
}
