
#rootDiv {
   background: url(/content/i/products/jukevox/bg_1.jpg) no-repeat center center fixed; 
  
}

#moreapps p {
	font: Helvetica;
	font-family:Helvetica, Arial, sans-serif;
	font-weight:bold;
}

#sec1 #shell #blurb {
  padding-top:90px;
  color:#fff;
  font-size:18px;
  margin-left:52px;
  width:500px;
}


#blurb h1 {
	margin-bottom:10px;
}


#blurb p {
	margin-bottom:10px;
	width:380px;
	line-height:30px;
}

.quotes {
	font-style:italic;
	color:#fff;
	font-size:1.1em;	
	font-weight:bold;
}

.source {
	font-size:.7em;	
	color:#fff;
}

#sec1 #shell {
 
/* IE9 SVG, needs conditional override of 'filter' to 'none' */

  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/content/i/products/jukevox/bg_1.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/content/i/products/jukevox/bg_1.jpg', sizingMethod='scale')";
  
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(/content/i/products/jukevox/bg_1.jpg) no-repeat center center;


}

h1 {
	font:Helvetica;
	font-family:Helvetica, Arial, sans-serif;
	color:#fff;
	font-weight:400;
	font-size:40px;
	margin-bottom:20px;
}

.pingerwinkle {
	color:#6063ce;
	
}


#sec2 {
 
	height:696px;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */

  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/content/i/products/jukevox/bg_2.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/content/i/products/jukevox/bg_2.jpg', sizingMethod='scale')";
  
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(/content/i/products/jukevox/bg_2.jpg) no-repeat center bottom;

  
}

#sec2 p {
	width:700px;
}


#sec2 div {
	padding-top:0px;
	
}

#sec3 {
 

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/content/i/products/jukevox/bg_3.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/content/i/products/jukevox/bg_3.jpg', sizingMethod='scale')";
  
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(/content/i/products/jukevox/bg_3.jpg) no-repeat center center;

  
}

#sec3 h1 {
	font-size:35px;
	padding-top:300px;
  
}

#sec3 p {
  padding-top:0px;
  
  color:#fff;
  text-shadow: 2px 2px 2px #000000;
  line-height:30px;
  width:550px;
}

#sec3 h1 {
	  text-shadow: 2px 2px 2px #000000;
}



#sec4 {
	height:788px;
	 padding-top:0px;
 /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/content/i/products/jukevox/bg_4.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/content/i/products/jukevox/bg_4.jpg', sizingMethod='scale')";
  
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(/content/i/products/jukevox/bg_4.jpg) no-repeat center bottom;
  background-position: center 100px;
}


#sec4 p {
	width:520px;
	line-height:23px;
	padding-top:530px;
}



#sec4 div {
	padding-top:30px;
	 line-height:30px;
	
}

#footer {
  top:2670px;
  
  
}


.btn_get_app {
  background-position: 0 -793px;
  width: 71px;
  height: 90px;
}


.more {
  background-position: 0 -941px;
  width: 1000px;
  height: 67px;
}

.more_shadow {
  background-position: 0 -882px;
}

.more_shadow_white {
  background-position: 0 -1008px;
}


.btn_download {
  background-position: 0 -767px;
  width: 131px;
  height: 26px;
  
}

#logo {
  background-position: 0 -1377px;
  width: 137px;
  height: 105px;
  margin-left:-5px;
  top:5px;
}

#gifchat {
 width:180px;
  padding-left:63px;
}


#moreapps div#gifchat {
  background-position: 0 -1206px;
  width: 140px;
}

.downloadlinks
{
  height:130px;
}

#app_name {
  color:#fff;
  font-family: helvetica, sans-serif, arial;
  font-weight:bold;
  font-size:22px;
}

.downloadlinks
{
 
  
   position: fixed; left: -225px; top: 0;
   width: 450px; height: 110px;
   
}

@media only screen and (min-width:320px) and (max-width:600px) {
  #sec1 {
    height: 750px;
  }
  #sec2 {
    height: 850px;
  }
  #sec4 .btn_get_app {
    top: 325px;
  }
  #sec4 {
    height: 775px;
    background-position: center 300px;
  }
}