#moreapps p {
	font: Helvetica;
	font-family:Helvetica, Arial, sans-serif;
}

#sec1 #shell #blurb {
  padding-top:130px;
  color:#fff;
  font-size:18px;
  margin-left:52px;
  width:420px;
}

#blurb p {
	margin-bottom:10px;
	width:380px;
}

#sec1 #shell {
 
/* IE9 SVG, needs conditional override of 'filter' to 'none' */

  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../i/products/pinger/bg_1.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../i/products/pinger/bg_1.jpg', sizingMethod='scale')";
  
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(../i/products/pinger/bg_1.jpg) no-repeat center center;
}

h1 {
	font:Helvetica;
	font-family:Helvetica, Arial, sans-serif;
	color:#fff;
	font-weight:200;
	font-size:40px;
	margin-bottom:20px;
}

.pingerwinkle {
	color:#6063ce;	
}

#sec2 {
	height:696px;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */

  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../i/products/pinger/bg_2.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../i/products/pinger/bg_2.jpg', sizingMethod='scale')";
  
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(../i/products/pinger/bg_2.jpg) no-repeat center bottom;
}

#sec2 p {
	width:583px;
}


#sec2 div {
	padding-top:0px;
}

#sec3 {
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../i/products/pinger/bg_3.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../i/products/pinger/bg_3.jpg', sizingMethod='scale')";
  
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(../i/products/pinger/bg_3.jpg) no-repeat center center;  
}

#sec3 h1 {
	font-size:35px;
	padding-top:100px;
	padding-left:220px;
}

#sec3 p {
  padding-top:0px;
  padding-left:220px;
  color:#fff;
  text-shadow: 2px 2px 2px #000000;
  line-height:30px;
  width:380px;
}

#sec3 h1 {
	  text-shadow: 2px 2px 2px #000000;
}

#sec4 {
	height:648px;
	 padding-top:0px;
 /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../i/products/pinger/bg_4.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../i/products/pinger/bg_4.jpg', sizingMethod='scale')";
  
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(../i/products/pinger/bg_4.jpg) no-repeat center bottom;
}

#sec4 p {
	width:520px;
	line-height:23px;
}

#sec4 div {
  padding-top:30px;
	line-height:30px;	
}

.btn_get_app {
  background-position: 0 -793px;
  width: 71px;
  height: 90px;
}

.btn_download {
  background-position: 0 -767px;
  width: 131px;
  height: 26px;
}

#logo {
  background-position: 0 -1260px;
  width: 137px;
  height: 115px;
  margin-left:-5px;
}

#gifchat {
  width:180px;
  padding-left:63px;
}


#moreapps div#gifchat {
  background-position: 0 -1206px;
  width: 140px;
}

@media only screen and (min-width:320px) and (max-width:600px) {
  /* pinger */
  #sec2 {
    height: 800px;
  }
  /* pinger */
  #sec4 {
    height: 685px;
  }
}
